<div class="posts">
    {% unless paginator.posts %}
    <article><section class="post-content"><p>There are no blog posts</p></section></article>
    {% endunless %}
    {% for post in paginator.posts %}
    <div class="post-teaser">
        <h1 class="post-title">
            <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
            </a>
        </h1>
        <div class="post-teaser-layout">
            <div class="post-image-container">
                {% if post.thumbnail %}
                <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
                    <img alt="{{ post.title }}" src="https://res.cloudinary.com/dvwv5cne3/image/fetch/w_250,h_auto,c_fill,g_auto,f_auto,q_auto/{{ post.thumbnail | absolute_url }}">
                </a>
                {% endif %}
            </div>
            <div class="post-excerpt">
                <p>{{ post.excerpt | default: post.content | strip_html | truncate: '250' | escape }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% include blog/blog_nav.liquid %}
