---
layout: page
---

<div class="home">
    <div id="categories">
        <section class="bg"></section>
        
        <!-- Seznam kategorií jako odkazy -->
        <ul class="category-clouds">
            {% for category in site.categories %}
                {% assign category_name = category | first %}
                <a href="#{{ category_name | escape }}" class="category-anchor">
                    <li>
                        {{ category_name }}
                    </li>
                </a>
            {% endfor %}
        </ul>

        <!-- Seznam článků v jednotlivých kategoriích -->
        <div class="category-groups">
            {% for category in site.categories %}
                {% assign group = category | first %}
                <div class="category-group">
                    <h4 id="{{ group }}" class="title">
                        {{ group }}
                        {% if page.showCounts %}
                            ({{ site.categories[group].size }})
                        {% endif %}
                    </h4>
                    <div class="items">
                        {% for post in site.categories[group] %}
                            <a href="{{ post.url | relative_url }}" class="category-post-link">
                                <div class="item">
                                    <p class="meta">{{ post.date | date: site.data.language.str_date_format | default: '%B %-d, %Y' }}</p>
                                    <p class="title">{{ post.title }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>