---
layout: default
---

<div class="row" style="margin-top:30px;">
    <!-- Zde začíná výpis rubrik -->
    {% for rubrika in site.data.rubriky %}
    <div class="col-md-2 col-sm-6 text-center">
    <a href="{{ site.baseurl }}/{{ rubrika.name }}/" class="rubrika-link">
    <img src="{{ site.baseurl }}{{ rubrika.icon }}" alt="{{ rubrika.title }}" class="img-fluid" style="height: 48px;">
    <p>{{ rubrika.title }}</p>
    </a>
    </div>
    {% endfor %}
    <!-- Konec výpisu rubrik -->
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>
    </div>
    
<hr>

    <div class="row">
        {% assign category_name = page.name %}


        {% for post in site.posts %}
            {% if post.categories contains category_name %}


            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if post.thumbnail %}
                    <a href="{{ post.url }}"><img src="https://res.cloudinary.com/dvwv5cne3/image/fetch/w_auto,h_250,c_fill,g_auto,f_auto,q_auto/{{ post.thumbnail }}" alt="{{ post.title }}" style="max-height: 250px; object-fit: cover; display: block; margin-left: auto; margin-right: auto;"></a>
                    {% endif %}
                    <div class="card-body">
                        <a href="{{ post.url }}"><h5 class="card-title">{{ post.title }}</h5></a>
                        <p class="card-text">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
                        <a href="{{ post.url }}" class="btn btn-primary">Číst více</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div> 