---
layout: page
---

<div class="home">
    <div id="categories">
        <section class="bg"></section>
        <!-- Obsah rubriky (z index.md) -->

            <div class="category-content">
                {{ content }}
            </div>

    <!-- Z칤sk치n칤 n치zvu adres치콏e -->
    {% assign current_category = page.name %}

    <!-- Seznam 캜l치nk콢 v aktu치ln칤 kategorii -->
    {% assign articles = site.posts | where: "categories", current_category %}
    {% if articles.size > 0 %}
    <div class="category-articles">
        <h2>游녢 {{ current_category }} a dal코칤 zku코enosti </h2>
        <ul>
            {% for post in articles %}
            <li>
                <a href="{{ post.url | relative_url }}">
                    <h3>{{ post.title }} - {{ post.date | date: "%-d.%-m.%Y" }}</h3>
                
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>