---
layout: default
---
<div class="home">


    <div class="rubriky">
        <div class="categories">
            {% for rubrika in site.data.rubriky %}
            <div class="category">
                <a href="{{ site.baseurl }}/{{ rubrika.name }}/">
                    <img src="{{ site.baseurl }}{{ rubrika.icon }}" alt="{{ rubrika.title }}">
                    <span>{{ rubrika.title }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="blog">
        {% capture _blog %}{% include blog/blog.liquid %}{% endcapture %}
        {{ _blog | split: " " | join: " "}}
    </div>
</div>